# Admin

# Element

# Matrix
/matrix/media_store
/matrix/homeserver.db
/matrix/homeserver.db-shm
/matrix/homeserver.db-wal
/matrix/OutsideTheRing.signing.key

# Nginx

# Certbot
/certbot

# PostgreSQL
/postgres

# Misc


